
.gradnull {
	background-color: #7d5cf7 !important;
	background: linear-gradient(130deg, #7d5cf7, #c06be8)!important;
}
.grad0 {
	background-color: #36ae88 !important;
}
.grad1 {
	background-color: #7131c5 !important;
}
.grad2 {
	background-color: #36bfd3 !important;
}
.grad3 {
	background-color: #de36de !important;
}
.grad4 {
	background-color: #c0b737 !important;
}